@media(max-width: 992px){
	.header-padding{
		padding: 0px;
	}

	.header-contain{
		margin-top: 5px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	.text-overlay h1{
		font-size: 45px;
		font-weight: 700;
		color: #fff;
		text-shadow: 0 0 10px rgba(51,51,51,0.9);
	}

	.text-overlay h2{
		font-size: 40px;
		font-weight: 700;
		color: #fff;
		text-shadow: 0 0 10px rgba(51,51,51,0.9);
	}

	.work-container{
		margin-top: 5px;
	}


	#footer-left{
		display: inline-block;
	}

	#footer-logo{
		display: none;
	}

}

@media(max-width: 766px){
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:active{

		color: #fff;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		color: #fff;
		transition: .5s ease;
	}

	.dropdown-menu .divider{
		background-color: #fff;
	}

	.dropdown-menu li a{
		color: #fff !important;
		transition: .5s ease !important;
	}

	.dropdown-menu li a:hover,
	.dropdown-menu li a:active,
	.dropdown-menu li a:focus
	{
		color: #960018 !important;
	}


	.navbar-header{
		padding: 15px 0px;
	}

	.navbar-brand img{
		margin-top: -20px;
		width: 90px;
	}

	.text-overlay h1{
		font-size: 30px;
		font-weight: 700;
		color: #fff;
		text-shadow: 0 0 10px rgba(51,51,51,0.9);
	}

	.text-overlay h2{
		font-size: 25px;
		font-weight: 700;
		color: #fff;
		text-shadow: 0 0 10px rgba(51,51,51,0.9);
	}

	.footer ul li a{
		font-size: 12px;
	}

	.work-container{
		-moz-filter: none !important;
		-webkit-filter: none !important;
		filter: none !important;
		color: #fff !important;
	}

	.work-container:hover{
		-moz-filter: none !important;
		-webkit-filter: none !important;
		filter: none !important;

	}

	#all-works .col-xs-10{
		width: 83.33%;
	}

	#all-works .col-xs-offset-1{
		margin-left: 8.33%;
	}


	#paralax-quote{
		background-image: url(../img/content/quote.jpg);
		background-size: 1000px auto;
	}

}