html{
	position: relative;
	min-height: 100%;
}

body{
	background-color: #fdf5e7;
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizeLegibility;
	margin: 0 0 310px;
}

#body-contact{
	margin: 0 0 225px;
}

h1, h2, h3, h4, h5, h6{font-weight: 700; letter-spacing: -1px;}


.form-control:focus{
	border-color: #960018 !important;
	outline: 0 !important;
	-webkit-box-shadow : inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(150, 0, 24, .6) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(150, 0, 24, .6) !important;
}

/* index */


.loader{
	height: 100%;
	width: 100%;
	background-color: #fdf5e7;
	position: absolute;
	z-index: 20;
	text-align: center;
}

.loader img{
	margin-top: 300px;
}

#mynavbar{
	background-color: transparent;
	border: none;
	position: absolute;
	z-index: 2;
	width: 100%;
}

#navbar ul {
	padding: 15px 0px;
}

#navbar ul li{
	padding: 0px 10px;
}

#navbar ul li a{
	color: white;
	transition: .5s ease;
	font-size: 18px;
}

#navbar ul li a:hover,
#navbar ul li a:focus{
	color: #960018;
}

.dropdown-menu{
	background-color: rgba(255,255,255, 0.8);
}

.dropdown-menu li{
	padding: 0px !important;
}

.dropdown-menu li a{
	color: #333 !important;
	font-size: 16px !important;
}

.dropdown-menu li a:hover{
	background-color: #fff;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus{
	background-color: transparent;
	border: none;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
	transition: .5s ease;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:active .icon-bar{
	background-color: #960018;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: transparent;
}


.navbar-brand img{
	width: 100px;
	margin-top: -5px;
}

.owl-dots{
	position: absolute;
	width: 100%;
	margin-top: -40px;
}

.owl-dot{
	transition: .5s ease;
}

.text-overlay{
	position: absolute;
  	top: 50%; /* poussé de la moitié de hauteur du référent */
  	transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
	text-align: center;
	z-index: 3;
	width: 100%;
}

.text-overlay h1{
	color: #fff;
	font-size: 60px;
	margin: 0;
	width: 100%;
	text-shadow: 0px 0px 8px #333;
}

.text-overlay h2{
	color: #fff;
	font-size: 50px;
	margin: 0;
	width: 100%;
	text-shadow: 0px 0px 8px #333;
}

.text-overlay h1 span,
.text-overlay h2 span{
	color: #960018;
}

#header-content{
	margin-top: 80px;
}

.header-padding{
	padding: 2.5px;
}

.header-contain{
	margin-top: 5px;
	background-color: rgba(255,255,255, 0.8);
	padding: 30px 20px;
	transition: .5s ease;
}

.header-contain h3{
	font-size: 25px;
}

.header-contain ul{
	margin-bottom: 0px !important;
}

.header-contain p{
	line-height: 24px;
	margin-top: 10px !important;
}

.header-contain:hover{
	transform: scale(1.01);
	-moz-box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.5);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.5);
	-o-box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.5);
	box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.5);
}

.header-contain h3,
.header-contain p{
	margin: 0;
}

#paralax-quote{
	width: 100%;
	height: 400px;
	margin-top: 80px;
	position: relative;
	background-image: url(../img/content/quote.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed
}

#contactme{
	position: absolute;
  	top: 50%; /* poussé de la moitié de hauteur du référent */
  	transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  	z-index: 2;
  	text-align: center;
}

#contactme h2{
	margin: 0;
	color: white;
	font-size: 35px;
	font-weight: 700;
}

#contactme p{
	font-size: 25px;
	font-weight: 700;
	color: #960018;
	letter-spacing: -1px;

}

#contactme button{
	margin-top: 20px;
	background-color: #960018;
	border-radius: 8px;
	color: white;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	outline: 0;
	border-radius: 20px;
	width: 200px;
	-moz-transition: .5s ease;
	-webkit-transition: .5s ease;
	transition: .5s ease;
}

#contactme button:hover{
	color: #960018;
	background-color: white;
}


.paralax-logo hr{
	padding: 0px;
	margin: 10px 0px;
	display: inline-block;
	width: 18%;
	height: 1px;
	border: none;
	background: #fff;
}

.paralax-logo img{
	width: 120px;
}

#all-works{
	margin-top: 80px;
}

#all-works h2{
	font-size: 35px;
	letter-spacing: normal;
}

.work-container{
	position: relative;
	overflow: hidden;
	height: 330px;
	color: #960018;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
	-moz-filter: grayscale(70%);
	-webkit-filter: grayscale(70%);
	filter: grayscale(70%);
	-moz-transition: .5s ease;
	-webkit-transition: .5s ease;
	transition: .5s ease;
	margin-left: 0.4%;
	width: 49.6%;
	margin-top: 0.4%;
}

#container-rest{
	background-image: url(../img/content/restauration.jpg);

}

#container-fab{
	background-image: url(../img/content/fabrication.jpg);

}

#container-cuis{
	background-image: url(../img/content/cuisine.jpg);

}

#container-amg{
	background-image: url(../img/content/amenagement.jpg);

}

.work-container h3{
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: -5px;
	left: 0;
	font-size: 25px;
	opacity: 0.8;

}

.work-container:hover{
	color: #fff;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

footer{
	background-color: #333;
	color: white;
	height: 230px;
	padding-top: 35px;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
}

#footer-right ul{
	float: right;
}

footer ul{
	padding: 0px;
}

footer ul li{
	list-style: none;
}

footer ul li a{
	color: white;
	transition: .5s ease;
}

footer ul li a:hover,
footer ul li a:active,
footer ul li a:focus{
	color: #960018;
}

#footer-logo{
	text-align: center;
}

#footer-logo img{
	width: 120px;
}

#copy{
	background-color: black;
	padding: 10px 0px;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}

#copy p{
	margin: 0;
}

/* Réalisations */

.rea-navbar{
	background-color: #333 !important;
	position: relative !important;
	border-radius: 0px !important;
	margin-bottom: 0px;
}

.banner-rea{
	width: 100%;
	height: 300px;
	text-align: center;
	position: relative;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

#banner-restauration{
	background-image: url(../img/content/quote-restauration.jpg);
}

#banner-fabrication{
	background-image: url(../img/content/quote-fabrication.jpg);
}

#banner-cuisine{
	background-image: url(../img/content/quote-cuisine.jpg);
}

#banner-amenagement{
	background-image: url(../img/content/quote-amenagement.jpg);
}

.banner-rea h1{
	margin: 0;
	color: white;
	font-size: 35px;
	position: absolute;
  	top: 50%; /* poussé de la moitié de hauteur du référent */
  	transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  	text-align: center;
}

.banner-rea h1 p{
	color: #960018;
	font-size: 25px;
}

.photos-content{
	margin-top: 40px;
}

#photos-fab{
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: -o-flex !important;
	display: flex !important;
	flex-wrap: wrap !important;
}

.photos-content .col-xs-6{
	text-align: center;
}

.photos-content .col-xs-6 a img{
	display: inherit !important;
}

.photos-content a img{
	width: 280px;
	-moz-box-shadow: 2px -1px 10px 0px rgba(51,51,51,0.5);
	-webkit-box-shadow: 2px -1px 10px 0px rgba(51,51,51,0.5);
	-o-box-shadow: 2px -1px 10px 0px rgba(51,51,51,0.5);
	box-shadow: 2px -1px 10px 0px rgba(51,51,51,0.5);
	margin-top: 20px;
}

/* Contact */

#header-contact{
	margin-top: 80px;
}

.coordonnees{
	transition: .5s ease;
	background-color: rgba(255,255,255, 0.8);
	padding: 30px 20px;
	margin-top: 5px;
}

.coordonnees h3{
	font-size: 25px;
}

.coordonnees ul{
	margin-top: 10px !important;
	margin-bottom: 0px !important;
}

.coordonnees p{
	line-height: 24px;
	margin-top : 10px !important;
}

.coordonnees h3,
.coordonnees p{
	margin: 0;
}

.coordonnees:hover{
	transform: scale(1.01);
	-moz-box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.5);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.5);
	-o-box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.5);
	box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.5);
}

#form-contact{
	display: flex;
	margin-top: 80px;
	width: 100%;
	height: 500px;
	background: url(../img/content/background-contact.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

#formulaire-contact{
	margin: auto;
	width: 100%;
}

#formulaire-contact label{
	color: #fff;
}

#formulaire-contact button{
	width: 140px;
	transition: .5s ease;
	border: none;
}

#formulaire-contact button:hover{
	background-color: #960018;
	color: white;
}

#find-me{
	margin-top: 80px;
}

#find-me h2{
	font-size: 35px;
}

#find-me iframe{
	position: relative;
}


