<!DOCTYPE html>
{% block head %}
<html lang="fr">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="author" content="Bourgoin Eric" />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Corben' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style_admin.css">
    <link rel="icon" type="image/png" href="../images/icon.png" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
{% endblock %}
</head>
<body>
{% block body %}
<div class="header">

{% block nav %}
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default navbar-static-top col-lg-10 col-md-12" id="navbar">
            <ul>
                <a href="index.php"><li>Accueil</li></a>
                <a href="form_add.php"><li>Ajouter une photo</li></a>
                <a href="photos.php?page=restauration"><li>Liste des photos</li></a>
                <a href="deconnexion.php"><li>Déconnexion</li></a>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

</div>
{% endblock %}
</body>
</html>