{% extends "base_admin.twig" %}

{% block head %}
    <title>Connexion</title>
    <meta charset="utf-8">
    <meta name="author" content="Bourgoin Eric" />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Corben' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style_connexion.css">
    <link rel="icon" type="../image/png" href="../images/icon.png" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
{% block nav %}
<nav class="navbar navbar-default navbar-fixed-top col-lg-6" id="navbar">
  <div class="container">
    <ul>
      <li class="col-lg-pull-1" style="display: inline; padding: 10px;"><a href="../index.php"><img src="img/arrow.png" alt="arrow">Retour vers le site</a></li>
    </ul>
  </div>
</nav>   
{% endblock %}


<div class="container" id="form_connexion">
    <div class="row">
      <center><h1>Connexion</h1></center>
    </div>
    <div class="row">
        <form action="#" method="post" enctype="multipart/form-data" class="col-lg-8 col-lg-offset-2">
          <div class="form-group">
            <label for="exampleInputEmail1">Identifiant</label>
            <input type="pseudo" name="pseudo" required class="form-control" id="pseudo" placeholder="Identifiant">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mot de passe</label>
            <input type="password" class="form-control" required name="password" id="password" placeholder="Mot de passe">
          </div>
          <button type="submit" name="submit" class="btn btn-default col-lg-2">Valider</button>
        </form>
    </div>
</div>

{% endblock %}
