{% extends "base_error.twig" %}

{% block head %}
	{{ parent () }}
{% endblock %}

{% block error %}
	<h2>Redirection ...</h2>
{% endblock %}

{% block body %}
	{{ parent() }}
{% endblock %}