{% extends "base_admin.twig" %}

{% block title %}Modifier une photo{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
{% block nav %}
    {{ parent() }}
{% endblock %}

{% for key, photo in photos %}
<div class="common_form container">
    <div class="row">
       <center><h1 style="margin-top: 60px;">Modifier une photo</h1></center>
    </div>
    <div class="row">
        <form class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2" action="valide_modif.php?id={{ photo_id }}" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="titre">Titre</label>
            <input type="text" required class="form-control" value ="{{ photo.titre }}" name="titre" id="exampleInputEmail1" placeholder="Titre">
          </div>
          <div class="form-group">
            <label for="page">Page : </label>
            <select class="form-control" id="page" name="page">
                <option value="restauration"{% if photo.page =="restauration" %}selected{% endif %}>Restauration</option>
                <option value="fabrication" {% if photo.page =="fabrication" %}selected{% endif %}>Fabrication</option>
                <option value="cuisine" {% if photo.page =="cuisine" %}selected{% endif %}>Cuisine</option>
                <option value="amenagement" {% if photo.page =="amenagement" %}selected{% endif %}>Aménagement</option>
            </select>
          </div>
          <button type="submit" class="btn btn-default">Valider</button>
        </form>
    </div>
</div>
{% endfor %}

{% endblock %}
