{% extends "base_admin.twig" %}

{% block title %}Ajouter une photo{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
{% block nav %}
    {{ parent() }}
{% endblock %}

<div class="common_form container">
    <div class="row">
	   <center><h1 style="margin-top: 60px;">Ajouter une photo</h1></center>
    </div>
    <div class="row">
        <form class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2" action="valide_add.php" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="titre">Titre</label>
            <input type="text" required class="form-control" name="titre" id="exampleInputEmail1" placeholder="Titre">
          </div>
          <div class="form-group">
            <label for="page">Page : </label>
            <select class="form-control" id="page" name="page">
                <option value="restauration" selected>Restauration</option>
                <option value="fabrication">Fabrication</option>
                <option value="cuisine">Cuisine</option>
                <option value="amenagement">Aménagement</option>
            </select>
          </div>
          <div class="form-group">
            <label for="fichier">Ajouter une photo</label>
            <input type="hidden" name="MAX_FILE_SIZE" value="1500000" /> 
            <input type="file" required name="image">
          </div>
          <button type="submit" class="btn btn-default">Valider</button>
        </form>
    </div>
</div>

{% endblock %}
