{% extends "base_admin.twig" %}

{% block title %}Accueil - Admin{% endblock %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="css/style_accueil.css">
{% endblock %}

{% block body %}
	{% block nav %}
		{{ parent()}}
	{% endblock %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-offset-1" id="welcome">
				<h1>Bienvenue boulet !</h1>
				<p>Ici nous sommes dans ton espace administrateur, tu pourras ici ajouter, modifier ou encore supprimer les photos que tu veux</p>
				<p>PS : Matte pas trop la dame sinon tu vas dormir sur le canapé :)</p>	
			</div>
		</div>
	</div>
{% endblock %}
