{% extends "base_error.twig" %}

{% block head %}
{{ parent () }}
{% endblock %}

{% block error %}
	<h2>Vous n'êtes pas connecté, veuillez tout d'abord vous identifier ...</h2>
{% endblock %}

{% block body %}
	{{ parent() }}
{% endblock %}