{% extends "base_admin.twig" %}

{% block title %}Liste des photos{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block body %}

<script>

{% for key, photo in photos %}
    $( document ).ready(function() {

        $('#{{ photo.id }}').click(function() {
            
            if (window.confirm("Êtes-vous sûr de vouloir supprimer la photo {{ photo.id }} ?")) { 

                    document.location.href="valide_supp.php?id={{ photo.id }}";
            }

        });

        $("#photo_categorie li").click(function(){
            $("#table_photos").fadeToggle(100);
            dequeue();
        });
    });
{% endfor %}

</script>
	{% block nav %}
		{{ parent () }}
	{% endblock %}

	<center><h1 style="margin-top: 30px;" id="test">Liste des photos</h1></center>

    <ul class="nav nav-tabs nav-justified" id="photo_categorie">
        <li role="presentation" id="li1" {% if page == "restauration" %}class="active"{% endif %}><a href="photos.php?page=restauration">Restauration</a></li>
        <li role="presentation" {% if page == "fabrication" %}class="active"{% endif %}><a href="photos.php?page=fabrication">Fabrication</a></li>
        <li role="presentation" {% if page == "cuisine" %}class="active"{% endif %}><a href="photos.php?page=cuisine">Cuisine</a></li>
        <li role="presentation" {% if page == "amenagement" %}class="active"{% endif %}><a href="photos.php?page=amenagement">Aménagement</a></li>
    </ul>
    <div class="container" id="table_photos">
        <div class="row">
            <table border="5" class="table table-bordered" id="table_photos">
            <tr>
                <th style="text-align: center; padding: 10px;">ID</th>
                <th style="text-align: center; padding: 10px;">Titre</th>
                <th style="text-align: center; padding: 10px;">Image</th>
                <th style="text-align: center; padding: 10px;">Modification</th>
                <th style="text-align: center; padding: 10px;">Suppression</th>
            </tr>

           	{% for key, photo in photos %}
           	<tr class="tr_bdd">
                <td style="padding: 10px;">{{ photo.id }}</td>
                <td style="padding: 10px;">{{ photo.titre }}</td>
                <td style="padding: 10px;">
                	<img src="../img/upload/{{ photo.page}}/{{ photo.image }}" alt="image" style="max-width: 200px; display: block; margin-right: auto; margin-left: auto;">
                </td>
                <td style="padding: 10px;"><a href="form_modif.php?id={{ photo.id }}">Modifier</a></td>
                <td style="padding: 10px;"><a href="#" id="{{ photo.id }}">Supprimer</a></td>
            </tr>
           	{% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
