{% extends "base_admin.twig" %}

{% block title %}Modifier une prestation{% endblock %}

{% block head %}
	{{ parent() }}
{% endblock %}

{% block body %}
	{% block nav %}
	{% endblock %}
{% endblock %}