body{
	background-color: #feeccb;
}

#form_connexion{
	margin-top: 150px;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(0, 0, 0, 0.3);
    outline: 0 none;
}

#navbar{
	background-color: #feeccb;
	border: 0;
	margin-top: 60px;
}

#navbar a{
	text-decoration: none;
	font-size: 1.3em;
	color: #333;
}

h1{
	font-size: 50px;
}

li img{
	margin-right: 20px;
}