body{
	background-image: url(../img/background_admin.jpg) !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	height: 100% !important;
	overflow: hidden !important;
	background-position: center;
	background-attachment: fixed;
}

#navbar{
	background-color: rgba(255,255,255,0);
	border: 0;
	margin-top: 60px;
}

#navbar li{
	display: inline;
	padding: 12px;
	margin: 15px;
	border: 1px solid white;
}

#navbar li:hover{
	background-color: rgba(255,255,255,0.1);
}

#navbar a{
	text-decoration: none;
	font-size: 20px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

#welcome{
	color: white;
	margin-top: 80px;
	padding: 15px;
	border: 1px solid white;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
}

#welcome p{
	margin-top: 25px;
	line-height: 1.8;
}

#welcome h1{
	margin-bottom: 50px;
	font-size: 48px;
}