h1{
	font-size: 50px;
}

#navbar{
	background-color: rgba(255,255,255,0);
	border: 0;
	margin-top: 60px;
}

#navbar li{
	display: inline;
	padding: 12px;
	margin: 15px;
	border: 1px solid #333;
}

#navbar li:hover{
	background-color: rgba(255,255,255,0.8);
}

#navbar a{
	text-decoration: none;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #333;
}

body{
	background-color: #feeccb;
}

#photo_categorie{
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	font-family: 'Montserrat', sans-serif;
}

#photo_categorie a{
	color: #333;
}

.common_form{
	margin-top: 30px;
}

textarea:focus, #page:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(0, 0, 0, 0.3);
    outline: 0 none;
}

#table_photos{
	margin-top: 50px;
	text-align: center;
	vertical-align: middle;
}

#table_photos td{
	vertical-align: middle;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}

.tr_bdd:hover{
	background-color: rgba(255,255,255,0.8);
}

@keyframes valide {
	
	0% {opacity: 0;};
	25% {opacity: 0.25;};
	50% {opacity: 05;};
	100% {opacity: 1;};

}

.valide{
	margin-top: 25%;
	text-align: center;
}

.valide p {
	animation-name: valide;
	animation-duration: 2s;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}

.valide h2{
	animation-name: valide;
	animation-duration: 2s;
	font-family: 'Montserrat', sans-serif;
}

#upload_photo img{
	width: 200px;
	margin-top: 30px;
}

